@using BlogApp.Services
@using BlogApp.Data.CategorySection
@using BlogApp.Data.PostSection

@inject ICategoryService categoryService
@inject IPostService postService

@page "/"
@page "/category/{id:int}"


@if (Category != null) {
<h3>@Category.Name</h3>
}

@if (Posts != null) {

    foreach (var post in Posts)
    {
     <div>
         <h3><a href="/post/@post.Id">@post.Title</a></h3>
         <p>@post.Published?.ToString("dddd d MMMM yyyy")</p>
         <p>@if (post.Content.Length >= 99)
         {
             @post.Content.Substring(0, 100)
         }
         else
         {
             @post.Content
         };</p>
     </div><br />
    }
}


@code {
    [Parameter]
    public virtual int? Id { get; set; }

    public virtual Category Category { get; set; }

    public IEnumerable<Post> Posts { get; set; }

    //Async method which runs upon app initialised

    protected override async Task OnParametersSetAsync() {

        if (Id.HasValue) {

            Category = await categoryService.GetAsync(Id.Value);

        }

        Posts = await postService.GetAllAsync(Id);

        await base.OnParametersSetAsync();
    }

}